<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889699580291-js9t3nk0mqvmlcviaadd8da6o5mh5v1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889699580291-js9t3nk0mqvmlcviaadd8da6o5mh5v1r</string>
	<key>API_KEY</key>
	<string>AIzaSyA927mOPz-yAMLP7ILRTl5xwbR7Nh8Zgt0</string>
	<key>GCM_SENDER_ID</key>
	<string>889699580291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.tradingplan.priceactionmaster</string>
	<key>PROJECT_ID</key>
	<string>price-action-master-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>price-action-master-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889699580291:ios:bc29472e165768045fdeb6</string>
</dict>
</plist>